[user]
	email = mi@ya.ru
	name = Nikolay Mishin
[push]
	default = simple
[ph]
	user = mishin
	token = 15f8106e126872157c2ba324abf677229807f1f1
[github]
        user = mishin
	token = 15f8106e126872157c2ba324abf677229807f1f1
[alias]
	  co = checkout
	  ci = commit
	  st = status
	  br = branch
	  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	  type = cat-file -t
	  dump = cat-file -p
  #l = log --all --graph --oneline --decorate
  l  = log --graph --pretty=format:'%C(yellow)%h%C(bold white red)%d%Creset %s %C(bold green)%cr %Creset%C(white)%an' --abbrev-commit --date=relative
  ll = "!f() { git l --all \"$@\"; }; f"
  lg = log --stat
  d  = diff
  ds = diff --stat --color
  #compare $REF to its parent.
  dp = "!f() { REF=$@; [ \"$REF\" = \"\" ] && REF=HEAD; git diff -C $REF~..$REF; }; f"
  #diff-highlight: perl script from git 'contrib'
  dh = "!f() { git diff --color=always \"$@\" | diff-highlight | less -R; }; f"
  b  = branch
  s  = !git status -sb && git stash list
  co = checkout
  rl = log --walk-reflogs --boundary --pretty=format:\"%ci %h %gd %gs\"
  #script-consumable list of modified files (does NOT include deleted/added/staged)
  df = diff --name-only
